.wps-awesome-logos .logos-preview-heading {
    text-align: center;
    padding: 0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wps-awesome-logos .logos-accordion-wrapper {
    width: 45%;
    float: left;
    min-width: 340px;
    padding-top: 20px;
}
.wps-awesome-logos .accordion {
    margin: 0;
    padding: 10px 20px 11px 35px;
    height:20px;
    border-top: #CCC 1px solid;
    background: #1DB5D4;
    font-family:  "Open Sans",sans-serif;
    text-decoration:none;
    border-radius: 0px 35px;
    color: #F1F1F1;
    font-size: 16px;
}
.wps-awesome-logos .accordion-open {
    background:#333333;
    color: #fff;
    border-bottom: #319e9e solid 1px;
}
.wps-awesome-logos .accordion-open span {
    display:block;
    float:right;
    padding:10px;
}
.wps-awesome-logos .accordion-close span {
    display:block;
    float:right;
    padding:10px;
}
.wps-awesome-logos div.container {
    padding:0;
    margin:0;
}
.wps-awesome-logos div.setting-content {
    background:#333333;
    color:#FFFFFF;
    margin: 0;
    padding:10px;
    font-size:.9em;
    line-height:1.5em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-radius:35px 0px;
}
.wps-awesome-logos .setting-content-title {
    background:#333333;
    color:#FFFFFF;
    margin: 0;
    padding:10px;
    font-size:.9em;
    line-height:1.5em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background:#333333;
    color: #fff;
    border-bottom: #319e9e solid 1px;
}
.wps-awesome-logos div.setting-content ul, div.setting-content p {
    margin:0;
    padding:10px;
		text-align: center;
}
.wps-awesome-logos div.setting-content ul li {
    list-style-position:inside;
    line-height:25px;
    margin-bottom: auto;
}
.wps-awesome-logos div.setting-content ul li a {
    color:#555555;
}
.wps-awesome-logos code {
    overflow:auto;
}
.wps-awesome-logos .wps-center {
  text-align: center;
}
/* Added for new switch*/
/* Toggele checkbox Switch */
.wps-awesome-logos .logos-accordion-wrapper .switch {
  float: right;
}
.wps-awesome-logos .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.wps-awesome-logos .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wps-awesome-logos input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 28px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.wps-awesome-logos input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.wps-awesome-logos input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.wps-awesome-logos input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
.wps-awesome-logos input.cmn-toggle-round:checked + label:before {
  background-color: #6AA84F;
}
.wps-awesome-logos input.cmn-toggle-round:checked + label:after {
  margin-left: 31px;
}
.wps-awesome-logos input.wps-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.wps-awesome-logos input.wps-toggle-round + label:before, input.wps-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.wps-awesome-logos input.wps-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.wps-awesome-logos input.wps-toggle-round + label:after {
  width: 23px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
.wps-awesome-logos input.wps-toggle-round:checked + label:before {
    background-color: #45C7C7;
}
.wps-awesome-logos input.wps-toggle-round:checked + label:after {
    margin-left: 20px;
}
.wps-awesome-logos .wps-switch {
    float: right;
}
.wps-awesome-logos .wps-switchnone {
    float: none;
}
/* Toggle checkbox Switch ends */

/* added for settings table options */
/**/
.wps-awesome-logos .eb-cs-add-slides {
    float: left;
}
.wps-awesome-logos .eb-cs-add-slides:hover {
    background: #0074a2;
    color: #fff; 
}
.wps-awesome-logos .wrap-add-slides {
    width: 54%;
    float: right;
    padding-top: 20px;
}
.wps-awesome-logos .settingstbl th {
    padding: 20px;
    float: left;
    padding-left: 35px;
    color: #B0B0B0;
    font-size: 13px;
}
.wps-awesome-logos .settingstbl td {
    padding: 18px 12px 12px 12px;
}
.wps-awesome-logos .settingstbl input {
    width: 70px;
    height: 30px;
}
.wps-awesome-logos #create_save_btn {
    display: block;
    clear: both;
    height: 38px;
    font-family: monospace;
    font-size: 16px;
    background: transparent;
    border: 1px solid #ffffff;
    min-width: 125px;
    margin: 0 auto;
    color: white;
}
.wps-awesome-logos #create_save_btn:hover {
    background: #0073aa;
    border: 1px solid #0073aa;
}
.wps-awesome-logos #create_insert_btn{
    float: right;
    width: 200px;
    height: 38px;
    font-size: 16px;
}
.wps-awesome-logos .logos-dashboard-table #wps_logos_slidername {
    height: 35px;
    width: 300px;
    padding: 0px 20px 0px 20px;
    font-family: monospace;
    border-radius: 20px;
    text-align: center;
}
.wps-awesome-logos .logos-dashboard-table td {
    padding: 15px;
}
.wps-awesome-logos .logos-dashboard-table th {
    padding: 15px;
    float: left;
    padding-left: 20px;
    color: #ffffff;
}

/* added for data tables */

.wps-awesome-logos .dataTables_info, .widget-layout-body .dataTables_paginate {
    /*margin-top: 5px !important;*/
    padding-bottom: 0px !important;
    margin-bottom: -4px !important;
}

.wps-awesome-logos .dataTables_info {
    padding: 0px;
    display: block;
    float: left;
}

.wps-awesome-logos .dataTables_paginate {
    float: right;
    margin: 0px;
}

.wps-awesome-logos .dataTables_paginate .last {
    margin-right: 0 !important;
}

.wps-awesome-logos .paging_full_numbers {
    height: 22px;
    line-height: 22px;
}

.wps-awesome-logos .paging_full_numbers .next:active, .paging_full_numbers .first:active, .paging_full_numbers .previous:active, .paging_full_numbers .last:active {
    font-weight: normal !important;
}

.wps-awesome-logos .paging_full_numbers a:active {
    outline: none
}

.wps-awesome-logos .paging_full_numbers a:hover {
    text-decoration: none;
}

.wps-awesome-logos .paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 8px;
    margin: 0 3px;
    cursor: hand;
    color: #919191;
    font-size: 11px;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea;
}

.wps-awesome-logos .paging_full_numbers a.paginate_button {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
}

.wps-awesome-logos .paging_full_numbers a.paginate_button:hover {
    background: #fcfcfc;
    color: #327394;
}

.wps-awesome-logos .paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active {
    background: #6f6f6f;
    color: #fff;
    border-color: #646464;
    box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff;
    font-weight: bold;
}

.wps-awesome-logos .paginate_button_disabled, .paginate_button_disabled:active {
    background: #F9F9F9 !important;
    color: #CCC !important;
    box-shadow: none !important;
    font-weight: normal !important;
    border: 1px solid #E5E5E5 !important;
}

.wps-awesome-logos .paginate_button_disabled:active {
    border-color: #d3d3d3 !important;
}

.wps-awesome-logos .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}
.wps-awesome-logos .sorting {
    background: url('../images/tables/sort_both.png') no-repeat 100% 8px;
}

.wps-awesome-logos .sorting_asc {
    background: url('../images/tables/sort_asc.png') no-repeat 100% 8px;
}

.wps-awesome-logos .sorting_desc {
    background: url('../images/tables/sort_desc.png') no-repeat 100% 8px;
}

.wps-awesome-logos .sorting_asc_disabled {
    background: url('../images/tables/sort_asc_disabled.png') no-repeat 100% 8px;
}

.wps-awesome-logos .sorting_desc_disabled {
    background: url('../images/tables/sort_desc_disabled.png') no-repeat 100% 8px;
}

.wps-awesome-logos .table.dataTable th:active {
    outline: none;
}

.wps-awesome-logos .datatable-footer {
    border-top: 1px solid #ddd;
    padding: 15px 0;
}

.wps-awesome-logos .datatable-footer {
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
}

.wps-awesome-logos .dataTables_scroll {
    clear: both;
}

.wps-awesome-logos .dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.wps-awesome-logos .table.dataTable th:active {
    outline: none;
}

.wps-awesome-logos .datatable-footer {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 10px;
}

.wps-awesome-logos .datatable-footer {
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
}

.wps-awesome-logos .dataTables_scroll {
    clear: both;
}

.wps-awesome-logos .dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}
/* data table end */
/* added for slide added image*/
.wps-awesome-logos .added-slides-image {
    border: 1px solid #0D0C0C;
    float: left;
    margin: 8px;
    background: #ffffff;
}
.wps-awesome-logos .awesome-logo-reorder {
    width: 110px;
    height: 110px;
    cursor: -webkit-grab;
    float: left;
    display: inline-block;
    position: relative;
    margin: 10px 20px 20px 10px;
    box-sizing: border-box;
}
.wps-awesome-logos .overlay_save_button {
    height: 40px;
    border-top: 1px solid #DFDFDF;
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    background: #FCFCFC;
    width: 92%;
}
/* ends slide image*/
.wps-awesome-logos .logos_no_preview {
    height: 40px;
    width: 98%;
    border: 1px solid #333;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.wps-awesome-logos h2.logos-settings-page-title{
  font-size: 20px;
  font-weight: 400;
  padding: 0 15px 4px 0;
  line-height: 29px;
}
.wps-awesome-logos div.manage-logos-headn{
  margin: 0;
  margin-right: 2%;
  padding: 10px 20px 10px 35px;
  height: 20px;
  border-top: #F0F0F0 1px solid;
  background: #333333;
  border-bottom: #319e9e solid 1px;
  font-family: Open Sans,sans-serif;
  text-decoration: none;
  border-radius:0px 35px;
  color: #F1F1F1;
  font-size: 17px;
}
.wps-awesome-logos .wps_logos_no_preview {
    height: 40px;
    width: 98%;
    border: 1px solid #333;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.wps-awesome-logos span.logo-type-radio{
  padding: 10px 0 10px 25px;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 800px ) {
  .wps-awesome-logos .wrap-add-slides{
    width: 60%;
    float: left;
    min-width:350px;
  }
}